@model FirstMVCApp.Models.DogViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Hola otra vez!!!</h1>
<p style="color:blue"> Este es un simple hola </p>


<h4>A dog named @Model.Name says Guau!!!</h4>
<h4>@Model.Name is @Model.Age years old</h4>